<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>chaduvuko</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServ</display-name>
    <servlet-name>LoginServ</servlet-name>
    <servlet-class>org.LoginServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServ</servlet-name>
    <url-pattern>/LoginServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DummyStuRegis</display-name>
    <servlet-name>DummyStuRegis</servlet-name>
    <servlet-class>org.DummyStuRegis</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DummyStuRegis</servlet-name>
    <url-pattern>/DummyStuRegis</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StuRegistrationserv</display-name>
    <servlet-name>StuRegistrationserv</servlet-name>
    <servlet-class>org.StuRegistrationserv</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StuRegistrationserv</servlet-name>
    <url-pattern>/StuRegistrationserv</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginAllServ</display-name>
    <servlet-name>LoginAllServ</servlet-name>
    <servlet-class>org.LoginAllServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginAllServ</servlet-name>
    <url-pattern>/LoginAllServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StuPhotoUploadServ</display-name>
    <servlet-name>StuPhotoUploadServ</servlet-name>
    <servlet-class>org.StuPhotoUploadServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StuPhotoUploadServ</servlet-name>
    <url-pattern>/StuPhotoUploadServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayStuPhoto</display-name>
    <servlet-name>DisplayStuPhoto</servlet-name>
    <servlet-class>org.DisplayStuPhoto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayStuPhoto</servlet-name>
    <url-pattern>/DisplayStuPhoto</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmpRegistration</display-name>
    <servlet-name>EmpRegistration</servlet-name>
    <servlet-class>org.EmpRegistration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpRegistration</servlet-name>
    <url-pattern>/EmpRegistration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmpRegServ</display-name>
    <servlet-name>EmpRegServ</servlet-name>
    <servlet-class>org.EmpRegServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpRegServ</servlet-name>
    <url-pattern>/EmpRegServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentNameSearch</display-name>
    <servlet-name>StudentNameSearch</servlet-name>
    <servlet-class>org.StudentNameSearch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentNameSearch</servlet-name>
    <url-pattern>/StudentNameSearch</url-pattern>
  </servlet-mapping>
</web-app>