@charset "ISO-8859-1";

.stucard{

    position:relative;
    width:370px;
    height:250px;
    background:#333;
    transition:0.5s;
    margin-bottom:10px;
    margin-top:30px;
    overflow: hidden;
}
.stucardcontainer .stucard:hover{
    height:450px;
}
.stucardcontainer .stucard .lines{
    position:absolute;
    inset:0;
    background:#000
}
.stucardcontainer .stucard .lines::before
{
    content:'';
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:600px;
    height:120px;
     background:linear-gradient(transparent,#45f3ff,#45f3ff,#45f3ff,transparent);
    animation:stucardanim 4s linear infinite;
}
@keyframes stucardanim{
    0%{
        transform:translate(-50%,-50%) rotate(0deg);
    }
    100%{
        transform:translate(-50%,-50%) rotate(360deg);
    }
}
.stucardcontainer .stucard .lines::after{
    content: '';
    position:absolute;
    inset:6px;
    background:rgb(203, 16, 175);
}
.stucardcontainer .stucard .stuimgbox{
    position:absolute;
    top:-30px;
    left:50%;
    transform:translateX(-50%);
    width:150px;
    height:150px;
    background:#000;
    transition: 0.5s;
    z-index:10;
    overflow:hidden;
}
.stucard:hover .stuimgbox{
    width:240px;
    height:250px;
}
.stucard .stuimgbox::before{
    content:'';
    position: absolute;
    top:50%;
    left:50%;
    width:500px;
    height:150px;
    transform: translate(-50%,-50%);
    background:linear-gradient(transparent,#f02968,#f02968,#f02968,transparent);
    animation:stuimgboxanim 6s linear infinite;

}
@keyframes stuimgboxanim{
    0%{
        transform:translate(-50%,-50%) rotate(360deg)
    }
    100%{
        transform:translate(-50%,-50%) rotate(0deg)
    }
}
.stucard .stuimgbox::after{
    content: '';
    position:absolute;
    inset:3px;
    background:#292929;
}
.stucard .stuimgbox img{
    position:absolute;
    z-index:1;
    margin-left:3px;
    margin-bottom:6px;
    width:calc(100%-50px);
    height:cal(100%-50px);
}
.stucard:hover .stuimgbox img{
    width:230px;
    margin-left:5px;
    margin-right:5px;

}

.stucard .stucontent{
    position:absolute;
    width:100%;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    overflow:hidden;
}
.stucard .stucontent .details{
    text-align: center;
    width: 100%;
    transition:0.5s;
    transform: translateY(140px);
}

.stucard .stucontent .details h2{
    font-size:20px;
    font-weight: 500;
    color:#45f3ff;
    margin:11px 0;
}
.stucard .stucontent .details span{
    font-size:15px;
    font-weight: 500;
    color:white;
    margin:20px 0;

}
.stucard .content .details .data{
    display: flex;
    justify-content: space-between;
    margin:20px 0;
}
.stucard .content .details .data h3{
    font-size:12px;
    color:#45f3ff;
    line-height:15px;
    font-weight: 600;
    border:2px solid green;
    z-index:5;

}
.stucard .content .details .data h3 span{
    font-size:11px;
}
.stucardcontainer{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    
     justify-content: space-between;
    border:2px solid black;
}
.stucardhead{
    position: absolute;
    left:50%;
}
.stucardhead h5{
	font-size:10px;
	font-weight:1000;
}
